<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="width: auto" text-left>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <div class="titulo">
      Ansiedade Controlada
    </div>
    <div class="conteudo">

      <div style="text-align: left;">Com este App voc&ecirc; vai aprender mais sobre Ansiedade atr&aacute;ves de
        exerc&iacute;cios, informa&ccedil;&otilde;es, mensagens atualizadas diariamente.</div>
      <div style="text-align: left;">&nbsp;</div>
      <div style="text-align: left;">Tamb&eacute;m poder&aacute; <strong><span style="color: #3366ff;">perguntas</span>
        </strong>e responder <span style="color: #3366ff;"><strong>quest&otilde;es</strong></span> de outros
        usu&aacute;rios, auxiliando na compreens&atilde;o dessa terr&iacute;vel doen&ccedil;a. (perguntas e respostas
        s&atilde;o todas an&ocirc;nimas).</div>
      <div style="text-align: left;">&nbsp;</div>
      <div style="text-align: left;"><strong><span style="color: #3366ff;">V&iacute;deos</span> </strong> com
        v&aacute;rios temas como: Ansiedade, auto ajuda, medita&ccedil;&atilde;o, motivacional e muitos outros.</div>
      <div style="text-align: left;">&nbsp;</div>
      <div style="text-align: left;"><span style="color: #3366ff;"><strong>Mensagens</strong></span> retiradas de
        v&aacute;rios lugares da internet, para levantar sua auto estima.</div>
      <div style="text-align: left;">&nbsp;</div>
      <div style="text-align: left;"><strong><span style="color: #3366ff;">Postagens</span></strong> di&aacute;rias
        sobre assuntos relacionados a Ansiedade, depress&atilde;o.</div>
      <div style="text-align: left;">&nbsp;</div>
      <div style="text-align: left;"><span style="color: #3366ff;"><strong>Produtos</strong></span> de &oacute;tima
        qualidade que v&atilde;o auxiliar a tratar esse mal do s&eacute;culo.</div>
      <div style="text-align: left;">&nbsp;</div>
      <div style="text-align: left;"><span style="color: #3366ff;"><strong>Ebooks</strong></span> com conte&uacute;dos
        excelentes que lhe ajudaram a exterminar de vez esse problema.</div>
      <div style="text-align: left;">&nbsp;</div>
      <div style="text-align: left;"><strong><span style="color: #3366ff;">Grave o humor do seu dia</span></strong>,
        basta clicar no &iacute;cone que tem um rostinho na tela principal e o bot&atilde;o ao lado ver&aacute; o seu
        hist&oacute;rico.</div>
      <div style="text-align: left;">&nbsp;</div>
      <div style="text-align: left;">Profissionais que queiram fazer parceria e ter seu contato divulgado no App entrar
        em contato por email.</div>
      <div style="text-align: left;">Para d&uacute;vidas, sugest&otilde;es ou cr&iacute;ticas, favor entrar em contato
        por email.</div>
      <div style="text-align: left;">&nbsp;</div>
      <h4 style="text-align: left;">elvys.ferrari@gmail.com</h4>
    </div>
  </div>
</ion-content>