
  .welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .label-item-title{
    font-size: 13px;
      color: #544f4f;
     // white-space: nowrap;
    line-height: 1.2rem;
    font-weight: 600;
  }
  .label-item-description{
    font-size: 0.8rem;
      color: rgb(78, 74, 74);
      //white-space: nowrap;
      line-height: 0.8rem;
  }
  
  .label-item-date{
    font-size: 0.7rem;
      color: #666;
      white-space: nowrap;
    line-height: 0.7rem;
    padding-top: 5px;
  }
   ion-content{
    /* --background: url('/assets/images/background.png'); */
    --background: rgb(224, 221, 222);
    background-repeat: no-repeat;
    background-size: cover;
    } 
    .cards{
    height: 75px;
    background: #fff;
    margin-inline-start: 5px;
    margin-inline-end: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,.12);
  }
  .cards-content{
      padding-inline-start: 0px;
      padding-inline-end: 5px;
      padding-bottom: 0px;
      padding-top: 0px;
      font-size: 10px;
  }
  .card-date{
      font-size: 10px;
      font-weight: 600;
      color: #666;
      padding-top: 20px;
  }
  
  .card-comment{
      margin-inline-start:15px;
      margin-inline-end:16;
      margin-top:0px;
      margin-bottom: 6px;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      box-shadow: 0 2px 2px rgba(0,0,0,.12)
  }
  .card-content-comment{
      padding-inline-start: 5px;
      padding-inline-end: 5px;
      padding-top: 2px;
      padding-bottom: 0px;
      font-size: 12px;
      line-height: 1.6;
  }
  