<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title text-left>Postagens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #pageContent fullscreen>
    <ion-card class="cards" *ngFor="let post of posts">
        <ion-card-content class="cards-content">
          <div style="display: flex; flex-direction: row">
            <div>
              <ion-thumbnail (click)="viewPost(post)" style="width: 75px; height: 75px;" slot="start">
                <ion-img [src]="post.imagem != '' ? post.imagem : 'assets/images/padrao.jpg'">
                </ion-img>
              </ion-thumbnail>
            </div>
            <div style="width: 100%">
              <div style="display: flex; flex-direction: column; width: 100%; padding-left: 7px">
                <div style="display: flex; flex-direction: column">
                  <div (click)="viewPost(post)" style="width: 100%" class="label-item-title">
                    {{post.titulo}}
                  </div>
                </div>
                <div (click)="viewPost(post)" class="label-item-date">
                  Publicado em: {{post.publicadoEm | date:'dd/MM/yyyy HH:mm'}}
                </div>                                                      
              </div>
            </div>
          </div>
    
    
        </ion-card-content>
      </ion-card>

  <!-- <ion-list>
    <ion-item (click)="viewPost(post)" *ngFor="let post of posts">
      <div style="display: flex; flex-direction: column">
        <div class="label-item-title">
          {{ post.titulo }}
        </div>
        <div class="label-item-date">
          Publicado em: {{ post.publicadoEm | date:'dd/MM/yyyy HH:mm'}}
        </div>
      </div>
    </ion-item> 
  </ion-list> -->
</ion-content>
