<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="width: auto" text-left>Lista de Exercícios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="cards">
    <ion-card-content class="cards-content">
      <div style="display: flex; flex-direction: row">
        <div>
          <ion-thumbnail (click)="navigateTo('/exercicio-respiracao')" style="width: 75px; height: 75px;" slot="start">
            <ion-img [src]="'assets/images/meditacao.png'">
            </ion-img>
          </ion-thumbnail>
        </div>
        <div style="width: 100%">
          <div style="display: flex; flex-direction: column; width: 100%; padding-left: 7px">                
            <div style="display: flex; flex-direction: column; flex-wrap: wrap">
              <div (click)="navigateTo('/exercicio-respiracao')" style="width: 100%" class="label-item-title">
                Exercício de Respiração
              </div>
              <div class="descricao-divs">
                Este exercício de respiração vai te ajudar a controlar a ansiedade e a insônia
              </div>
            </div>      
          </div>
        </div>
      </div>


    </ion-card-content>
  </ion-card>
</ion-content>