<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title text-left>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="full"  (click)="navigateTo('nova-mensagem')">Nova mensagem</ion-button>
  <ion-button expand="full" (click)="navigateTo('novo-post')">Novo post</ion-button>
  <ion-button expand="full" (click)="navigateTo('novo-video')">Novo vídeo</ion-button>
  <ion-button expand="full" (click)="navigateTo('admin-questoes')">Aprovação de Perguntas</ion-button>
</ion-content>


