<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Mensagem</ion-title>
  </ion-toolbar>
</ion-header>  
  
<ion-content>
  <ion-grid> 
    <ion-row>
      <ion-col style="padding-top: 17px;" (click)="selectPhotoType()" align-self-center size="4">
        <ion-img style="padding-top: 11px; border-radius: 15%; height: 87px; widows: 90px;" src="assets/images/uploadphoto.png"> </ion-img>
        <!-- <ion-label style="font-size: 12px; padding-left: 17px">
          Máx. 5
        </ion-label> --> 
      </ion-col>
      <ion-col align-self-center size="4" *ngFor="let img of images">
        <ion-icon (click)="removePicture(img)" style="font-size: 22px;padding-left: 58px" color="danger" name="close"></ion-icon>
        <ion-img class="img-format" [src]="img.url"></ion-img>
      </ion-col>
    </ion-row> 
  </ion-grid>

  <form [formGroup]="mensagemForm" (ngSubmit)="onSubmit(); $event.preventDefault()">
    <ion-item>
      <ion-label class="labels" position="stacked">Título</ion-label>
      <ion-input class="labels" formControlName="titulo" placeholder="Dígite um título"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="labels" position="stacked">Descrição</ion-label>      
      <ion-textarea class="labels"  formControlName="conteudo" type="text" placeholder="Dígite uma descrição"></ion-textarea>
    </ion-item>

  </form>

  <!-- <ion-button (click)="uploadFirebase()">Upload</ion-button> -->

  <!--  <ion-progress-bar [value]="uploadProgress"></ion-progress-bar>
  <br> -->
  <ion-button color="tertiary" (click)="onSubmit()" expand="full" [disabled]="mensagemForm.invalid">CRIAR</ion-button>
</ion-content>
