<ion-app>
  <ion-split-pane>
    <ion-menu>      
      <ion-content >
        <ion-item color="tertiary" lines="none">
          <ion-avatar  slot="start">
            <img *ngIf="user" [src]="user.image">
            <img *ngIf="!user" src="assets/images/noavatar.png">
          </ion-avatar>
          <div style="width: 100%; display: flex; flex-direction: column;">
              <ion-label>{{ user?.name ? user.name : 'Faça login' }}</ion-label>
              <ion-label>{{ user?.email ? user.email : '' }}</ion-label>
          </div>          
        </ion-item>
        <ion-list >
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item color="light" lines="none" (click)="navigateTo(p.url)">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label> 
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>