<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="width: auto" text-left>{{ post.titulo == undefined ? 'Postagem' : post.titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="post">
    <!-- <div class="titulo">
      {{ post.titulo }}
    </div> -->
    <div class="conteudo" [innerHTML]="post.conteudo | noSanitize"></div>     
  </div>
</ion-content>