.text-div{
  position: absolute;
  text-align: center;
  width: 100%;
  color: #fff;
  height: 50px;
  padding-top: 15px;
  font-size: 1.2rem;
  box-shadow: 0 2px 2px rgba(0,0,0,.12);
}

.card-div{
  display: flex; 
  flex-direction: row
}

.cards{
  background: #fff;
  width: 99.7%;
  height: 65px;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  margin-top: 5px;
  margin-bottom: 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0,0,0,.12);
}
.cards-content{
  padding-inline-start: 0px;
  padding-inline-end: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 15px;
}
ion-content{
  /* --background: url('/assets/images/background.png'); */
  --background: rgb(224, 221, 222);
  background-repeat: no-repeat;
  background-size: cover;
  .sc-ion-card-ios-s img {        
    max-width: auto;
    width: 70px;
  }
  .sc-ion-card-md-s img{
    max-width: auto;
    width: 70px;
  }
  
} 
  

img {
  height: 65px;
  max-width: 70px !important;
  

}
.titulo-divs{
  height: 15px;
  padding-left: 10px;
  font-size: 15px;
  color: #666;
  font-weight: 600;
}
.descricao-divs{
  padding-top: 2px;
  padding-left: 10px;
  font-size: 10px;
  font-weight: 300;
  line-height: 0.7rem;
}