<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Novo Post</ion-title>
  </ion-toolbar>
</ion-header>  

<ion-content>
          
  <form [formGroup]="postForm" (ngSubmit)="savePost(); $event.preventDefault()">
    <ion-item>
      <ion-label class="labels" position="stacked">Título</ion-label>
      <ion-input class="labels" formControlName="titulo" placeholder="Dígite um título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labels" position="stacked">Imagem</ion-label>
      <ion-input class="labels" formControlName="imagem" placeholder="Link da imagem"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="labels" position="stacked">Contéudo</ion-label>      
      <ion-textarea class="labels"  formControlName="conteudo" type="text" placeholder="Dígite o conteúdo"></ion-textarea>
    </ion-item>
    
  </form>

  <!-- <ion-button (click)="uploadFirebase()">Upload</ion-button> -->

  <!--  <ion-progress-bar [value]="uploadProgress"></ion-progress-bar>
  <br> --> 
  <ion-button color="tertiary" (click)="savePost()" expand="full" [disabled]="postForm.invalid">CRIAR</ion-button>
</ion-content>
